<!DOCTYPE html>
<html>
<head>
	<title>Relay | Today's roads for the future, today.</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/fonts.css"/>
	<link rel="stylesheet" href="css/index.css"/>

	<link rel="stylesheet" href="css/clients/backgrid-filter-relay.css"/>
	<link rel="stylesheet" href="css/clients/backgrid-relay.css"/>
	<link rel="stylesheet" href="css/clients/rickshaw.css"/>
	<link rel="icon" type="image/ico" href="assets/favicon.ico"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&sensor=false"></script>
</head>
<body>
	<div id="app">

		<!-- header bar -->
	    <div id='header'>
			<img id='logo' src='assets/relay-logo.png'/>
		    <ul id='header-btns'>
				<a href='#'><li class='header-btn page-btn' id='map-header-btn' data-page-id='map-page' data-page-name='mapPageView'>MAP</li></a>

				<a href='#'><li class='header-btn page-btn' id='intersections-header-btn' data-page-id='intersections-page' data-page-name='intersectionsPageView'>INTERSECTIONS</li></a>

				<a href='#'><li class='header-btn page-btn' id='roads-header-btn' data-page-id='roads-page' data-page-name='roadsPageView'>ROADS</li></a>

				<a href='#'><li class='header-btn page-btn far-right' id='network-header-btn' data-page-id='network-page' data-page-name='networkPageView'>NETWORK</li></a>
			</ul>

			<!-- <div id='search-box'><img id='search-icon' src='assets/search.png'/></div> -->

			<div id='status-container'>
				<img class='spinner' id='status' src='assets/settings.png'/>

				<div id='status-pane'>
					<div id='title'>Connection Status</div>
					<div class='status-wrap'>
						<!-- <div class='status-heading'>Connections</div><br/> -->
						<div class='label'>SOCKET</div><br/>
						<div class='answer' id='socket-status'>-</div><br/>
						<div class='label'>REST</div><br/>
						<div class='answer' id='rest-status'>-</div>
					</div>
					<div class='status-wrap'>
						<!-- <div class='status-heading'>Updates</div><br/> -->
						<div class='label'>LOCAL UPDATE</div><br/>
						<div class='answer' id='local-update'>-</div><br/>
						<div class='label'>GLOBAL UPDATE</div><br/>
						<div class='answer' id='global-update'>-</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Map page -->
		<div id="map-page" class='page'>
			<div class='preload'>
				<img class='loader' id='dots-logo' src='assets/dots.png'/>
			</div>

			<!-- Where the map goes -->
			<div id="map"></div>

			<!-- dat LEGEND -->
			<div id='layer-legend'>
				<div class='legend-label'>LAYERS</div>
				<ul>
					<li class='map-layer-option' id='status-layer-label' data-layer='status-layer'>
						Status</li>
					<li class='map-layer-option' id='flow-layer-label' data-layer='flow-layer'>Flow</li>
					<li class='map-layer-option' id='line-layer-label' data-layer='line-layer'>Queue</li>
				</ul>
				<div class='legend-label' id='visualizations'>VISUALIZATIONS</div>
				<ul>
					<li class='map-layer-option' id='flow-visualization-label' data-layer='flow-visualization'>Flow</li>
				</ul>
			</div>

			<!-- Side Panel -->
			<div class='' id='side-panel'>
				<a href='#'>
					<img id='panel-toggle' src='assets/chunk-left.png'/>
					<img id='close' src='assets/close.png'/>
				</a>
				<div id='panel-container'>
					<div id='panel-header'>
						<div id='title-container'>
							<div id='intersection-title'>--</div>
						</div>
						<div id='stat-container'>
							<div class='dash-wrap'>
								<span class='stat-title'>INTERSECTION ID</span><br/>
								<span class='stat-field' id='stat-id'>--</span>
							</div>
							<div class='dash-wrap' id='righty'>
								<span class='stat-title'>INTERSECTION TYPE</span><br/>
								<span class='stat-field' id='stat-type'>--</span>
							</div>
						</div>
					</div>
					<div class='panel-page' id='panel-left'>
						<div class='section-container' id='left-stats'>
							<div class='dash-wrap'>
								<span class='stat-title'>STATUS</span><br/>
								<span class='stat-field' id='stat-status'>--</span>
							</div>
							<div class='dash-wrap' id='righty'>
								<span class='stat-title'>STATE</span><br/>
								<span class='stat-field' id='stat-currentState'>--</span><br/>
								<span class='stat-title'>DURATION</span><br/>
								<span class='stat-field' id='stat-duration'>--</span>
							</div>
							<div id='dash-stateWrap'>
								<img id='dash-state' src='assets/default-status.png'/><br/>
								<!-- <div id='dash-countdown'>11</div> -->
							</div>
							<div class='dash-wrap' id='next-state'>
								<span class='stat-title'>NEXT STATE</span><br/>
								<span class='stat-field' id='stat-nextState'>--</span><br/>
								<span class='stat-title'>TIME TO NEXT</span><br/>
								<span class='stat-field' id='stat-nextStateTime'>--</span>
							</div>
							<div id='dash-stateWrap2'>
								<img id='dash-next-state' src='assets/default-status.png'/><br/>
								<!-- <div id='dash-countdown'>11</div> -->
							</div>
						</div>
						<div class='section-container chart-container'>
							<span class='chart-title'>FLOW</span>
							<span class='clear'></span>
							<div id="flow-chart" style="width:500px; height:180px;"></div><!-- chart goes in here -->
						</div>
						<div class='section-container chart-container'>
							<span class='chart-title'>PERFORMANCE</span>
							<div id="perf-chart" style="width:500px; height:180px;"></div><!-- chart goes in here -->
						</div>
					</div>
					<div class='panel-page' id='panel-right'>
						<div class='log-title'>Activity Log</div>
						<div class='section-container' id='activities-table-container'></div>
					</div>
				</div>
			</div>
		</div>

		<!-- Intersections Page -->
		<div id="intersections-page" class='page'>
			<div id='title-box'>
				<span id='table-title'>Intersections List</span>
				<div id='intersections-filter-container'>
					<!-- Backgrid filter goes in here -->
				</div>
			</div>
			<div id='intersections-table-container'>
				<!-- Backgrid grid populates here -->
			</div>
		</div>

		<!-- Roads Page -->
		<div id="roads-page" class='page'>
			<div class='centred'>
				<div id='not-populated'>Road Data is not supported at this time.</div>
			</div>
		</div>

		<!-- Network Page -->

<!-- 
total # intersections
# of OK
# of failures

header: city, random codes or w/e

activity log, full height of right panel

graph 1: total flow over time
graph 2: histogram
-->

		<div id="network-page" class='page'>
			<div id='network-header'>
				<div id='title-wrap'>
					<div id='network-title'>Network Details</div>
				</div>
				<div id='stat-container'>
					<div class='word-wrap'>
						<span class='stat-title'>LOCATION</span><br/>
						<span class='stat-field' id='stat-id'>Toronto, ON</span>
					</div>
					<div class='word=wrap' id='righty'>
						<span class='stat-title'>COORDINATES</span><br/>
						<span class='stat-field' id='stat-type'>43.652073, -79.382293</span>
					</div>
				</div>
			</div>
			<div class='panel-page' id='panel-left'>
				<div class='section-container' id='left-stats'>
					<div class='word-wrap'>
						<span class='stat-title'>INTERSECTIONS</span><br/>
						<span class='stat-field' id='stat-intersections'>--</span><br/>
						<span class='stat-title'>DECISIONS PER MINUTE</span><br/>
						<span class='stat-field' id='stat-decisions'>--</span>
					</div>
					<div class='word=wrap' id='righty'>
						<span class='stat-title'>WORKING</span><br/>
						<span class='stat-field' id='stat-working-count'>--</span><br/>
						<span class='stat-title'>FAILING</span><br/>
						<span class='stat-field' id='stat-failure-count'>--</span>
					</div>
				</div>
				<div class='section-container chart-container'>
					<span class='stat-title'>CAPACITY</span>
					<span class='clear'></span>
					<div class='chart-box'>
						<canvas id="capacity-chart" width="225" height="150"></canvas><!-- chart goes in here -->
					</div>
				</div>
				<div class='section-container chart-container'>
					<span class='stat-title'>FLOW</span>
					<div class='chart-box'>
						<canvas id="performance-chart" width="500" height="200"></canvas><!-- chart goes in here -->
					</div>
				</div>
			</div>
			<div class='panel-page' id='panel-right'>
				<div class='section-container' id='activities-table-container'></div>
			</div>
		</div>






<!-- 			<p>network</p>
				<div id='info-box'>
				<div id='heading'>
					<div id='intersection-name' data-content='name'></div>
					<img id='chunk-arrow' src='assets/chunk-arrow.png'/>
				</div>

				<div id='graph-wrap'>
					<div id='yaxis'></div>
					<div id='graph' style='height: 150px; width: 270px;'></div>
					<div id='xaxis'></div>
				</div>

				<div id='state-wrap'>
					<img id='state' src='assets/ewt.png'/><br/>
					<div id='countdown'>11</div>
				</div>
				<ul class='list-wrapper' id='left'>
					<li class='list-row'>
						<span class='info-label'>STATUS</span><br/>
						<span class='info-text' data-content='status'></span>
					</li>
					<li class='list-row'>
						<span class='info-label'>INTERSECTION TYPE</span><br/>
						<span class= 'info-text' data-content='type_short'></span>
					</li>
				</ul>
				<ul class='list-wrapper' id='right'>
					<li class='list-row'>
						<span class='info-label'>STATE</span><br/>
						<span class='info-text' data-content='currentState'></span>
					</li>
					<li class='list-row'>
						<span class='info-label'>NEXT STATE</span><br/>
						<span class='info-text' data-content='nextState'></span>
					</li>
				</ul>
				<ul class='list-wrapper' id='far-right'>
					<li class='list-row'>
						<span class='info-label'>NEXT STATE TIME</span><br/>
						<span class='info-text' data-content='nextStateTime'></span>
					</li>
				</ul>	
			</div> -->

	</div> <!-- End of app div -->

	<!-- info box template -->
	<!-- The data-content tags should match up with the property name in the IntersectionModel attribute -->
	<script type='text/template' id='info-box-template'>
		<div id='info-box'>
			<div id='heading'>
				<div id='intersection-name' data-content='name'></div>
				<img id='chunk-arrow' src='assets/chunk-arrow.png'/>
			</div>
			<div id='graph-wrap'>
				<span class='info-label'>TRAFFIC FLOW VS TIME</span>
				<div id='yaxis'></div>
				<div id='graph' style='height: 150px; width: 270px;'></div>
				<div id='xaxis'></div>
			</div>
			<div id='state-wrap'>
				<img id='icon-state' src='assets/default-status.png'/><br/>
				<div id='countdown'>--</div>
			</div>
			<ul class='list-wrapper' id='left'>
				<li class='list-row'>
					<span class='info-label'>STATUS</span><br/>
					<span class='info-text' id='info-box-status' data-content='status'></span>
				</li>
				<li class='list-row'>
					<span class='info-label'>INTERSECTION TYPE</span><br/>
					<span class= 'info-text' data-content='type_short'></span>
				</li>
			</ul>
			<ul class='list-wrapper' id='right'>
				<li class='list-row'>
					<span class='info-label'>STATE</span><br/>
					<span class='info-text' id='info-box-currentState' data-content='currentState'></span>
				</li>
				<li class='list-row'>
					<span class='info-label'>NEXT STATE</span><br/>
					<span class='info-text' id='info-box-nextState' data-content='nextState'></span>
				</li>
			</ul>
			<ul class='list-wrapper' id='far-right'>
				<li class='list-row'>
					<span class='info-label'>DURATION</span><br/>
					<span class='info-text' id='info-box-duration' data-content='nextStateTime'></span>
				</li>
			</ul>
		</div>
	</script>

	<!-- Cell for intersections template -->
	<script type='text/template' id='intersection-row-template'>
		<tr>
			<td><%= name %></td>
			<td><%= status %></td>
			<td><%= type_short %></td>
		</tr>
	</script>

	<!-- Client Scripts -->
	<script type="text/javascript" src="js/clients/underscore.js"></script>
	<script type="text/javascript" src="js/clients/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/clients/backbone.js"></script>
	<script type="text/javascript" src='js/clients/backgrid.js'></script>
	<script type="text/javascript" src='js/clients/backgrid-filter.js'></script>

	<script type="text/javascript" src='js/clients/date.format.js'></script>

	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

	<script type="text/javascript" src="js/clients/Chart.min.js"></script>
	<script type="text/javascript" src='js/clients/d3.js'></script>
	<script type="text/javascript" src='js/clients/rickshaw.js'></script>
	<script type="text/javascript" src='js/clients/jquery.flot.js'></script>
	<script type="text/javascript" src='js/clients/jquery.flot.time.js'></script>

	<script type="text/javascript" src='js/clients/infobox.js'></script>

	<script type="text/javascript" src='js/clients/jquery.loadTemplate-1.4.1.js'></script>

	<script type="text/javascript" src='js/clients/snap.svg-min.js'></script>

	<!-- bootstrap data -->
	<script type="text/javascript" src="js/bootstrap_data.js"></script>


	<!-- models, collections, views -->
	<script type="text/javascript" src="js/intersection_model.js"></script>
	<script type="text/javascript" src='js/road_model.js'></script>
	<script type="text/javascript" src='js/activity_model.js'></script>

	<script type="text/javascript" src="js/intersections_collection.js"></script>
	<script type="text/javascript" src='js/roads_collection.js'></script>
	<script type="text/javascript" src='js/activities_collection.js'></script>

	<script type="text/javascript" src='js/map_page_view.js'></script>
	<script type="text/javascript" src='js/intersections_page_view.js'></script>
	<script type="text/javascript" src='js/roads_page_view.js'></script>
	<script type="text/javascript" src='js/network_page_view.js'></script>
	<script type="text/javascript" src="js/panel_view.js"></script>
	<script type="text/javascript" src="js/intersection_view.js"></script>
	<script type="text/javascript" src="js/intersections_collection_view.js"></script>
	<script type="text/javascript" src='js/info_box_view.js'></script>
	<script type="text/javascript" src='js/status_pane_view.js'></script>

	<script type="text/javascript" src="js/app_view.js"></script>

	<script>
	var app; // global reference
	var s;
	$(document).ready(function(){
		s = new StatusPaneView();
		app = new AppView;

	    $(".preload").fadeOut(1500, function() {
	       $(".map").fadeIn(1000);
	    });
	});
	</script>


</script>
</body>
</html>
