<!DOCTYPE html>
<html>
<head>
	<title>Relay | Today's roads for the future, today.</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/fonts.css"/>
	<link rel="stylesheet" href="css/index.css"/>
	<link rel="stylesheet" href="css/clients/rickshaw.css"/>
	<link rel="icon" type="image/ico" href="assets/favicon.ico"/>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization&sensor=false"></script>
</head>
<body>
	<div id="app">

		<!-- header bar -->
	    <div id='header'>
			<img id='logo' src='assets/relay-logo.png'/>
		    <ul id='header-btns'>
				<a href='#'><li class='header-btn page-btn' id='map-header-btn' data-page-id='map-page'>MAP</li></a>
				<a href='#'><li class='header-btn page-btn' id='intersections-header-btn' data-page-id='intersections-page'>INTERSECTIONS</li></a>
				<a href='#'><li class='header-btn page-btn' id='roads-header-btn' data-page-id='roads-page'>ROADS</li></a>
				<a href='#'><li class='header-btn page-btn far-right' id='network-header-btn' data-page-id='network-page'>NETWORK</li></a>
			</ul>
			<div id='search-box'><img id='search-icon' src='assets/search.png'/></div>
			<img id='settings' src='assets/settings.png'/>
		</div>

		<!-- Map page -->
		<div id="map-page" class='page'>
			<!-- Where the map goes -->
			<div id="map"></div>

			<!-- dat LEGEND -->
			<div id='layer-legend'>
				<div class='legend-label'>LAYERS</div>
				<ul>
					<li class='map-layer-option' id='status-layer-label' data-layer='status-layer'>
						<!-- <img class='status-icon' src='assets/status.png'/> -->
						Status</li>
					<li class='map-layer-option' id='flow-layer-label' data-layer='flow-layer'>Flow</li>
				</ul>
				<div class='legend-label' id='visualizations'>VISUALIZATIONS</div>
				<ul>
					<li class='map-layer-option' data-layer='flow-visualization'>Flow</li>
				</ul>
			</div>

			<!-- Side Panel -->
			<div class='' id='side-panel'>
				<a href='#'><img id='panel-toggle' src='assets/arrow-left.png'/></a>
				<div id='panel-container'>
					<div id='title-container'>
						<!-- <a id='panel-toggle' href='#'><img id='arrow-right' src='assets/arrow-right.png'/></a> -->
						<span id='intersection-title'>Geary Blvd &amp;<br/>Divisadero St</span>
					</div>
					<div class='chart-container'>
						<a href='#'><img class='eye-con' src='assets/eye-con.png'/></a>
						<span class='chart-title'>CAPACITY</span>
						<span class='clear'></span>
						<div class='chart-box'>
							<canvas id="capacity-chart" width="225" height="150"></canvas><!-- chart goes in here -->
						</div>
					</div>
					<div class='chart-container'>
						<a href='#'><img class='eye-con' src='assets/eye-con.png'/></a>
						<span class='chart-title'>PERFORMANCE</span>
						<div class='chart-box'>
							<canvas id="performance-chart" width="225" height="150"></canvas><!-- chart goes in here -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Intersections Page -->
		<div id="intersections-page" class='page'>
			<div id='title-box'>
				<h1>Intersections</h1>
			</div>
			<div id='intersections-filter-container'>
				<!-- Backgrid filter goes in here -->
			</div>
			<div id='intersections-table-container'>
				<!-- Backgrid grid populates here -->
			</div>
		</div>

		<!-- Roads Page -->
		<div id="roads-page" class='page'>
			<p>roads</p>
		</div>

		<!-- Network Page -->
		<div id="network-page" class='page'>
			<p>network</p>
		</div>

	</div> <!-- End of app div -->

	<!-- info box template -->
	<!-- The data-content tags should match up with the property name in the IntersectionModel attribute -->
	<script type='text/template' id='info-box-template'>
		<div id='info-box'>
			<div id='heading'>
				<div id='intersection-name' data-content='name'></div>
				<img id='chunk-arrow' src='assets/chunk-arrow.png'/>
			</div>

			<!-- <canvas id='cap-chart' width='400' height='200'></canvas> -->
			<div id='yaxis'></div>
			<div id='graph'></div>

			<div id='state-wrap'>
				<img id='state' src='assets/ewt.png'/><br/>
				<div id='countdown'>11</div>
			</div>
			<!-- <ul class='list-wrapper' id='left'>
				<li class='list-row'>
					<span class='info-label'>STATUS</span><br/>
					<span class='info-text' data-content='status'></span>
				</li>
				<li class='list-row'>
					<span class='info-label'>INTERSECTION TYPE</span><br/>
					<span class= 'info-text' data-content='type'></span>
				</li>
				<li class='list-row'>
					<span class='info-label'>STATE</span><br/>
					<span class='info-text' data-content='currentState'></span>
				</li>
			</ul>
			<ul class='list-wrapper' id='right'>
				<li class='list-row'>
					<span class='info-label'>NEXT STATE</span><br/>
					<span class='info-text' data-content='nextState'></span>
				</li>
				<li class='list-row'>
					<span class='info-label'>NEXT STATE TIME</span><br/>
					<span class='info-text' data-content='nextStateTime'></span>
				</li>
				<p id='more-info-link'>more</p>
			</ul> -->
		</div>
	</script>

	<!-- Cell for intersections template -->
	<script type='text/template' id='intersection-row-template'>
		<tr>
			<td><%= name %></td>
			<td><%= status %></td>
			<td><%= type_short %></td>
		</tr>
	</script>

	<!-- Client Scripts -->
	<script type="text/javascript" src="js/clients/underscore.js"></script>
	<script type="text/javascript" src="js/clients/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="js/clients/backbone.js"></script>
	<script type="text/javascript" src='js/clients/backgrid.js'></script>
	<script type="text/javascript" src='js/clients/backgrid-filter.js'></script>

	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

	<script type="text/javascript" src="js/clients/Chart.min.js"></script>
	<script type="text/javascript" src='js/clients/d3.js'></script>

	<script type="text/javascript" src='js/clients/rickshaw.js'></script>

	<script type="text/javascript" src='js/clients/infobox.js'></script>

	<script type="text/javascript" src='js/clients/jquery.loadTemplate-1.4.1.js'></script>


	<!-- bootstrap data -->
	<script type="text/javascript" src="js/bootstrap_data.js"></script>


	<!-- models, collections, views -->
	<script type="text/javascript" src="js/intersection_model.js"></script>
	<script type="text/javascript" src='js/road_model.js'></script>

	<script type="text/javascript" src="js/intersections_collection.js"></script>
	<script type="text/javascript" src='js/roads_collection.js'></script>

	<script type="text/javascript" src='js/map_page_view.js'></script>
	<script type="text/javascript" src='js/intersections_page_view.js'></script>
	<script type="text/javascript" src='js/roads_page_view.js'></script>
	<script type="text/javascript" src='js/network_page_view.js'></script>
	<script type="text/javascript" src="js/panel_view.js"></script>
	<script type="text/javascript" src="js/intersection_view.js"></script>
	<script type="text/javascript" src="js/intersections_collection_view.js"></script>
	<script type="text/javascript" src='js/info_box_view.js'></script>

	<script type="text/javascript" src="js/app_view.js"></script>

	<script>
	var app; // global reference
	$(document).ready(function(){
		app = new AppView;
	});
	</script>


</script>
</body>
</html>
