/* composition css */
html, body {
	height: 100%;
	margin: 0;
	min-width: 768px;
	padding: 0;
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100%;
	width: 100%;
}




/* ********** Header *********** */

#header {
	background: -webkit-linear-gradient(top, #0a0a0a, #000);
	border-bottom: inset 1px solid rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	height: 56px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
}

#logo {
	left: 32px;
	margin: -17px 0 0 0;
	position: absolute;
	top: 30px;
	width: 120px;
}

#header-btns {
	float: left;
	margin: 0 0 0 184px;
}

li {
	list-style-type: none;
	cursor: pointer;
}

.header-btn {
	border-left: 1px solid rgba(54, 54, 54, 1);
	color: #fff;
	font-size: 0.7em;
	float: left;
	font-weight: bold;
	letter-spacing: 0.04em;
	padding: 23px 18px 22px 18px;
}

.header-btn:hover {
	background: -webkit-linear-gradient(top, #2e2e2e, #000);
}

#header .active {
	background: #2e2e2e;
	border-bottom: 2px solid #fff;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.69);
	padding: 23px 18px 20px 18px;
}

.far-right {
	border-right: 1px solid rgba(54, 54, 54, 1);
}

#search-box {
	background-color: #000;
	border: 1px solid rgba(54, 54, 54, 1);
	height: 30px;
	position: absolute;
	right: 38px;
	top: 11px;
	width: 156px;
}

#search-icon {
	float: left;
	margin: 7px 0 0 6px;
	width: 16px;
}

#settings {
	width: 14px;
	float: right;
	position: relative;
	top: 20px;
	right: 10px;
}

/*#legend-btn {
	float: left;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.page-btn {

}*/





/* ********** Pages ********** */

.page {
	display: none;

	width: 100%;
	height: 100%;
}

.page-active {
	display: block !important;
}



/* ********** Map ********** */

#map-page {
	width: 100%;
	float:left;
}

#map {
	height: 100%;
	width: 100%;
}





/* ********** Info Box ********** */
#info-box {
	background: rgba(0, 0, 0, 0.85);
	border: 1px solid rgba(54, 54, 54, 1);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	color: #f5f5f6;
	padding: 16px;
	min-width: 400px;
	min-height: 140px;
	z-index: 100000;
}

#intersection-name {
	border-bottom: 1px solid #fff;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0 0 10px 0;
}

/*.info-label {
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.05em;
}

.info-text {
	padding: 3px 0 0 0;
}

.list-wrapper {
	margin-top: 10px;
}

.list-row {
	padding: 5px 0;
}

#left {
	float: left;
	width: 140px;
}*/


#state {
	display: inline-block;
	float: left;
	width: 44px;
}

/* ********** Intersections ********** */

#intersections-page{
	/*background-color: #000;*/
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}

#title-box{
	margin-top: 50px;
	width: 100%;
	height: 50px;
}

#title-box h1{
	/*color: #fff*/
}

#intersections-table-container{
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#intersections-filter-container{
	float: right;
}

/*#intersections-table-container th{
	color: #fff;
}

#intersections-table-container td{
	color: #fff;
}
*/



/* ********** Map ********** */

#roads-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}





/* ********** Network ********** */

#network-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}

/* ********** Panel Container ********** */

/*#panel-container{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.9);
	-moz-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	-webkit-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
}

#panel-content{
	margin: 20px;
}

#title-block {
	height: 97px;
}

#intersection-name {
	font-weight: 500;
	font-size: 22pt;
	color: #f5f5f6;
	line-height: 1.5;
}

hr {
	background: rgba(0, 0, 0, 1);
	height: 1px;
	border: none;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
}

.intersection-details {
	margin: 32px 50px 0 0;
	position: relative;
	display: none;
}

#panel-content p {
	font-weight: 500;
	font-size: 12.8pt;
	color: #f5f5f6;
}

.mini-title {
	font-family: "ProximaNovaCond", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 600;
	color: #464646;
	font-size: 10.5pt;
	margin: 0 0 10px 0;
}

#performance-chart {
	margin: 0 0 0 -5px;
}*/


/* ********** Side Panel ************ */

#side-panel {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	height: 100%;
	max-width: 600px;
	min-width: 16px;
	padding: 11px;
	position: fixed;
	right: 0;
	top: 56px;
	width: 16px;
	z-index: 100;
}

#side-panel.expanded {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	height: 100%;
	max-width: 600px;
	min-width: 238px;
	padding: 16px;
	position: fixed;
	right: 0;
	top: 58px;
	width: 600px;
	z-index: 100;
}

#panel-toggle {
    -webkit-transform: 1s ease-in-out;
    -moz-transform: 1s ease-in-out;
    -o-transform: 1s ease-in-out;
    transform: 1s ease-in-out;
}

#side-panel #panel-toggle {

    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#side-panel.expanded #panel-toggle {

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#panel-container {
	display: none;
}

#panel-container.expanded {
	display: block;
}



#title-container {
	height: 52pt;
	margin: 0 0 48px 0;
}

#intersection-title {
	color: #fff;
	font-size: 25pt;
	font-weight: bold;
	float: right;
	letter-spacing: 0.01em;
	line-height: 27pt;
}

.chart-container {
	height: 240px;
}

.chart-title {
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.04em;
	margin: 0 0 0 6px;
	position: relative;
	top: -1px;
}



/* ************ Legend ************** */


#layer-legend{
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 6px 11px rgba(0, 0, 0, 0.44);
	height: 136px;
	left: 21px;
	padding: 18px 0;
	position: absolute;
	top: 79px;
	width: 136px;
	-webkit-user-select: none;
}

.legend-label {
	color: #dcdcdc;
	font-size: 0.5em;
	font-weight: 500;
	letter-spacing: 0.05em;
	padding: 0 18px 7px 18px;
	text-align: left;
}

.map-layer-option {
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 8px 18px 8px 18px;
	position: relative;
	text-align: left;
	width: 100px;
}

.map-layer-option:hover {
	background-color: #2e2e2e;
	-webkit-transition: background-color 0.3s ease-in;
}

.map-layer-option:active {
	background-color: #2e2e2e;
	border-left: 2px solid #fff;
	padding: 8px 18px 8px 16px;
}

#visualizations {
	padding-top: 18px;
}

.status-icon {
	padding: 0 8px 0 0;
	position: relative;
	top: 1px;
	width: 14px;
}





/* ********** Map Layer Container ********** */

#map-layer-container .active{
	color: #fff;
}


.chart-box{
	width:100%;
}

