/* composition css */
html, body {
	height: 100%;
	margin: 0;
	min-width: 768px;
	padding: 0;
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar {
	display: none;
}


/* ********** Header *********** */

#header {
	background: -webkit-linear-gradient(top, #0a0a0a, #000);
	border-bottom: inset 1px solid rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	height: 56px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
}

#logo {
	left: 32px;
	margin: -17px 0 0 0;
	position: absolute;
	top: 30px;
	width: 120px;
}

#header-btns {
	float: left;
	margin: 0 0 0 184px;
}

li {
	list-style-type: none;
	cursor: pointer;
}

.header-btn {
	border-left: 1px solid rgba(54, 54, 54, 1);
	color: #fff;
	font-size: 0.7em;
	float: left;
	font-weight: bold;
	letter-spacing: 0.04em;
	padding: 23px 18px 22px 18px;
}

.header-btn:hover {
	-webkit-transition: background 0.2s ease-in;
	background: -webkit-linear-gradient(top, #2e2e2e, #000);
}

#header .active {
	background: #2e2e2e;
	border-bottom: 2px solid #fff;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.69);
	padding: 23px 18px 20px 18px;
}

.far-right {
	border-right: 1px solid rgba(54, 54, 54, 1);
}

#search-box {
	background-color: #000;
	border: 1px solid rgba(54, 54, 54, 1);
	height: 30px;
	position: absolute;
	right: 38px;
	top: 11px;
	width: 156px;
}

#search-icon {
	float: left;
	margin: 7px 0 0 6px;
	width: 16px;
	z-index: 100000;
}

#status {
	width: 14px;
	float: right;
	position: relative;
	top: 20px;
	right: 16px;
}

@-webkit-keyframes spin {
	0% {-webkit-transform:rotate(-15deg);}
	25% {-webkit-transform:rotate(-60deg);}
	50% {-webkit-transform:rotate(-180deg);}
	75% {-webkit-transform:rotate(-300deg);}
	100% {-webkit-transform:rotate(-360deg);}
}
 
.spinner:hover {
	cursor: pointer;
	-webkit-animation: spin 0.4s 0 ease;
}



/* ********** Status Pane ************ */

#status-pane {
	display: none;
	background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid rgba(54, 54, 54, 1);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	color: #f5f5f6;
	width: 250px;
	height: 144px;
	padding: 0 14px;
	position: absolute;
	text-align: left;
	top: 16px;
	right: 47px;
	z-index: 1000;
}

#status-pane #title {
	border-bottom: 1px solid #f5f5f6;
	font-size: 1em;
	font-weight: 600;
	padding: 14px 0;
	position: relative;
}

#status-pane .label {
	position: relative;
	display: inline-block;
	color: #dcdcdc;
	font-size: 0.5em;
	font-weight: 500;
	letter-spacing: 0.05em;
}

#status-pane .answer {
	font-weight: 600;
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	letter-spacing: 0.05em;
	margin: 0 0 10px 0;
	position: relative;
}

.status-wrap {
	width: 120px;
	margin: 10px 0;
	position: relative;
	display: inline-block;
}

.status-heading {
	color: #f5f5f6;
	font-weight: 600;
	font-size: 0.8em;
	margin: 4px 0 -6px 0;
}

/* ********** Pages ********** */

.page {
	display: none;

	width: 100%;
	height: 100%;
}

.page-active {
	display: block !important;
}



/* ********** Map ********** */

#map-page {
	width: 100%;
	float:left;
}

#map {
	height: 100%;
	width: 100%;
}





/* ********** Info Box ********** */
#info-box {
	background: rgba(0, 0, 0, 0.95);
	border: 1px solid rgba(54, 54, 54, 1);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	color: #f5f5f6;
	padding: 16px 16px 8px 16px;
	min-width: 400px;
	min-height: 250px;
	z-index: 100000;
}

#intersection-name {
	border-bottom: 1px solid #fff;
	font-size: 1.5em;
	font-weight: 600;
	padding: 0 0 10px 0;
}

#chunk-arrow {
	float: right;
	position: relative;
	top: -32px;
	width: 16px;
}

#info-box #graph-wrap {
	/*background-color: rgba(17, 110, 205, 0.2);*/
	/*border: 1px solid rgba(17, 110, 205, 0.3);*/
	/*border: 1px solid rgba(54, 54, 54, 1);*/
	float: left;
	margin: 16px 0 0 10px;
	position: relative;
	height: 150px;
	width: 320px;
}

.flot-y-axis {
	margin: 0 0 0 -12px;
}

#info-box #yaxis {
	float: left;
	width: 30px;
	height: 150px;
}

#info-box #xaxis {
	float: right;
	height: 25px;
	width: 270px;
}

#info-box #graph {
	float: right;
	left: 20px;
	width: 270px;
	height: 150px;
}

#state-wrap {
	float: left;
	left: 20px;
	position: relative;
	top: 64px;
}

#state {
	height: 38px;
	width: 38px;
	left: 14px;
}

#countdown {
	color: #f5f5f6;
	font-size: 1.3em;
	margin: 14px 0 0 0;
	text-align: center;
}

#dash-stateWrap {
	top: -66px;
	width: 130px;
	left: 340px;
	float: left;
	position: relative;
}

#dash-state {
	height: 38px;
	width: 38px;
	left: 14px;
}

#dash-countdown {
	color: #f5f5f6;
	font-size: 1.3em;
	margin: 14px 0 0 0;
	text-align: center;
	top: -46px;
	position: relative;
}

.list-wrapper {
	position: relative;
	display: inline-block;
	margin: 180px 0 0 -350px;
}

.list-row {
	width: 150px;
	margin: 0 0 8px 0;
}

.info-label {
	margin: 26px 0 6px 0;
	color: #dcdcdc;
	font-size: 0.6em;
	font-weight: 500;
	letter-spacing: 0.05em;
}

.info-text {
	color: #f5f5f6;
	font-size: 1em;
	font-weight: 600;
	padding: 14px 0;
}

#left {
	position: relative;
	width: 100px;
}

#right {
	position: relative;
	float: left;
	width: 100px;
	left: 125px;
}

#far-right {
	position: relative;
	float: left;
	width: 100px;
	left: 225px;
}

/* ********** Intersections ********** */

#intersections-page {
	background-color: #2e2e2e;
	color: #f5f5f6;
	display: none;
	height: 100%;
	width: 100%;
	float:left;
/*    background: url(../assets/bg-1600.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#title-box {
	margin-top: 80px;
	width: 1200px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -600px;
	top: 100px;
}

#table-title {
	font-size: 2em;
	font-weight: 600;
}

#intersections-table-container {
	width: 1200px;
	height: 550px;
	overflow: scroll;
	position: absolute;
	left: 50%;
	margin: 0 0 0 -600px;
	top: 170px;
}

#intersections-filter-container {
	left: 260px;
	top: 3px;
	position: absolute;
}

/*#intersections-table-container th{
	color: #fff;
}

#intersections-table-container td{
	color: #fff;
}
*/



/* ********** Map ********** */

#roads-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}





/* ********** Network ********** */

#network-page {
	background-color: #080808;
	color: #f5f5f6;
	height: 100%;
	width: 100%;
	padding: 0 16px;
}

#network-header {
	border-bottom: 5px solid #f5f5f6;
	padding: 78px 0;
}

#title-wrap {
	padding: 20px 0 0 0;
}

#network-title {
	color: #f5f5f6;
	font-size: 25pt;
	font-weight: bold;
	float: left;
	letter-spacing: 0.01em;
}




/* ********** Side Panel ************ */

#side-panel {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	min-width: 48px;
	position: fixed;
	right: 0;
	top: 56px;
	width: 16px;
	z-index: 100;
	-webkit-transition: all 0.5s ease-in-out;
}

#side-panel.expanded {
	width: 100%;
}

#side-panel #panel-toggle {
	width: 16px;
	position: fixed;
	top: 68px;
	right: 16px;
}

#close {
	visibility: hidden;
	width: 12px;
	position: fixed;
	top: 69px;
	right: 18px;
}

#panel-container.expanded #panel-toggle {
	visibility: hidden;
}

#panel-container.expanded #close {
	visibility: visible;
}

#panel-container {
	display: none;
	height: 100%;
	min-width: 980px;
}

#panel-container.expanded {
	display: block;
	padding: 16px;
}


#panel-container .panel-page {
	width: 45%;
	height: 100%;
}

#panel-container #panel-left {
	float: left;
}

#panel-container #panel-right {
	float: right;
}

#panel-header {
	border-bottom: 5px solid #f5f5f6;
}

#title-container {
	padding: 26px 0 38px 0;
	position: relative;
	display: inline-block;
	max-width: 820px;
}

#intersection-title {
	color: #fff;
	font-size: 25pt;
	font-weight: bold;
	float: left;
	letter-spacing: 0.01em;
	line-height: 27pt;
	max-width: 820px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#stat-container {
	width: 400px;
	position: relative;
	float: right;
	top: 24px;
	right: 30px;
}

.word-wrap {
	width: 150px;
	position: relative;
	display: inline-block;
	float: left;
}

.stat-title {
	color: #dcdcdc;
	font-size: 0.5em;
	font-weight: 500;
	display: inline-block;
	letter-spacing: 0.05em;
	text-align: left;
}

.stat-field {
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 4px 0 8px 0;
	position: relative;
	text-align: left;
}

#left-stats {
	margin: 20px 0 0 0;
}


.panel-page {
	position: relative;
	display: inline-block;
	float: left;
}

.section-container{
	width: 100%;
}

#stats-container p {
	color: #fff;v
}

.chart-container {
	height: 200px;
	width: 680px;
	border: 1px solid rgba(54, 54, 54, 1);
	margin: 20px 0 20px 0;
}

/*.chart-title {
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.04em;
	position: relative;
	top: -1px;
}*/

#activities-table-container{
	height: 400px;
}



/* ************ Legend ************** */


#layer-legend{
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 0 6px 11px rgba(0, 0, 0, 0.44);
	height: 136px;
	left: 21px;
	padding: 18px 0;
	position: absolute;
	top: 79px;
	width: 136px;
	-webkit-user-select: none;
}

.legend-label {
	color: #dcdcdc;
	font-size: 0.5em;
	font-weight: 500;
	letter-spacing: 0.05em;
	padding: 0 18px 7px 18px;
	text-align: left;
}

#layer-legend li {
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding: 8px 18px 8px 18px;
	position: relative;
	text-align: left;
	width: 100px;
	-webkit-transition: background-color 0.3s ease-out;
}

#layer-legend li:hover {
	background-color: #2e2e2e;
	-webkit-transition: background-color 0.3s ease-in;
}

#layer-legend li:active {
	background-color: #2e2e2e;
	border-left: 2px solid #fff;
	padding: 8px 18px 8px 16px;
}

#layer-legend li.active {
	background-color: #2e2e2e;
	border-left: 2px solid #fff;
	padding: 8px 18px 8px 16px;
}

#visualizations {
	padding-top: 18px;
}

.status-icon {
	padding: 0 8px 0 0;
	position: relative;
	top: 1px;
	width: 14px;
}





/* ********** Map Layer Container ********** */

#map-layer-container .active{
	color: #fff;
}


.chart-box{
	width:100%;
}

