/* composition css */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100%;
	width: 100%;
}




/* ********** Header *********** */

#header {
	background: -webkit-linear-gradient(top, #0a0a0a, #000);
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	height: 56px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.63);
}

#logo {
	left: 50%;
	margin: -17px 0 0 -52px;
	position: absolute;
	top: 30px;
}

ul {
	margin: 0 48px 0 48px;
}

li {
	list-style-type: none;
}

.header-btn {
	border-left: 1px solid rgba(54, 54, 54, 1);
	color: #fff;
	font-size: 0.7em;
	float: right;
	font-weight: bold;
	letter-spacing: 0.04em;
	padding: 22px 18px 21px 18px;
}

.header-btn:hover {
	background: -webkit-linear-gradient(top, #222, #000);
}

#header .active {
	background: #222;
	border-bottom: 2px solid #fff;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.69);
}

.far-right {
	border-right: 1px solid rgba(54, 54, 54, 1);
}

#legend-btn {
	float: left;
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.page-btn{

}





/* ********** Pages ********** */

.page{
	display: none;

	width: 100%;
	height: 100%;
}

.page-active{
	display: block !important;
}



/* ********** Map ********** */

#map-page{
	height: 100%;
	width: 100%;
	float:left;
}

#map{
	width: 100%;
	height: 100%;
}





/* ********** Info Box ********** */
#info-box{
	margin-top: 8px;
	color: #f5f5f5;

	/* just copied this from the side panel css */
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	padding: 16px;
	z-index: 100000;

}




/* ********** Intersections ********** */

#intersections-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}




/* ********** Map ********** */

#roads-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}





/* ********** Network ********** */

#network-page{
	display: none;
	height: 100%;
	width: 100%;
	float:left;
}

/* ********** Panel Container ********** */

/*#panel-container{
	position: absolute;
	right: 0px;
	height: 100%;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.9);
	-moz-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	-webkit-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
}

#panel-content{
	margin: 20px;
}

#title-block {
	height: 97px;
}

#intersection-name {
	font-weight: 500;
	font-size: 22pt;
	color: #f5f5f6;
	line-height: 1.5;
}

hr {
	background: rgba(0, 0, 0, 1);
	height: 1px;
	border: none;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.05);
}

.intersection-details {
	margin: 32px 50px 0 0;
	position: relative;
	display: none;
}

#panel-content p {
	font-weight: 500;
	font-size: 12.8pt;
	color: #f5f5f6;
}

.mini-title {
	font-family: "ProximaNovaCond", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 600;
	color: #464646;
	font-size: 10.5pt;
	margin: 0 0 10px 0;
}

#performance-chart {
	margin: 0 0 0 -5px;
}*/


/* ********** Side Panel ************ */

#side-panel {
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	height: 100%;
	max-width: 350px;
	min-width: 16px;
	padding: 16px;
	position: fixed;
	right: 0;
	top: 58px;
	width: 16px;
	z-index: 100;
}

#side-panel.expanded{
	background: rgba(0, 0, 0, 0.8);
	box-shadow: -4px 0 6px rgba(0, 0, 0, 0.6);
	height: 100%;
	max-width: 350px;
	min-width: 238px;
	padding: 16px;
	position: fixed;
	right: 0;
	top: 58px;
	width: 33%;
	z-index: 100;
}

#panel-toggle{
    -webkit-transform: 1s ease-in-out;
    -moz-transform: 1s ease-in-out;
    -o-transform: 1s ease-in-out;
    transform: 1s ease-in-out;
}

#side-panel #panel-toggle{

    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#side-panel.expanded #panel-toggle{

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#panel-container{
	display: none;
}

#panel-container.expanded{
	display: block;
}



#title-container {
	height: 52pt;
	margin: 0 0 48px 0;
}

#intersection-title {
	color: #fff;
	font-size: 25pt;
	font-weight: bold;
	float: right;
	letter-spacing: 0.01em;
	line-height: 27pt;
}

.chart-container {
	height: 240px;
}

.chart-title {
	color: #fff;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 0.04em;
	margin: 0 0 0 6px;
	position: relative;
	top: -1px;
}


/* ************ Legend ************** */



#float-controls {
	bottom: 48px;
	left: 16px;
	position: absolute;
	z-index: 100;
}

#legend-box {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px;
	box-shadow: 0 6px 11px rgba(0, 0, 0, 0.44);
	color: #fff;
	height: 288px;
	left: 47px;
	position: absolute;
	top: 58px;
	width: 88px;
	z-index: 150;

	display: none;
}

.legend-entry {
	color: #fff;
	display: inline-block;
	font-size: 0.4em;
	letter-spacing: 0.05em;
	padding: 56px 0 0 0;
	position: relative;
	text-align: center;
	width: 100%;
}









/* ********** Map Layer Container ********** */

#layer-legend{
	position: absolute;
	left: 20px;
	top: 100px;
	height: 100px;
	width: 100px;
	background-color: rgba(0, 0, 0, 0.9);
	-moz-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	-webkit-box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
	box-shadow: -4px 0 11px rgba(0, 0, 0, 0.57);
}

#layer-legend p{
	color: #f5f5f5;
}

#layer-legend li{
	color: #f5f5f5;
}

#layer-legend li.active{
	background-color: #fff;
}

#map-layer-container .active{
	color: #fff;
}


.chart-box{
	width:100%;
}
